In [4]:
# %pip install sqlalchemy En caso de ser necesario, ejecutar
# %pip install --user psycopg2 En caso de ser necesario, ejecutar
# %pip install numpy En caso de ser necesario, ejecutar
# %pip install pandas En caso de ser necesario, ejecutar

In [5]:
import yaml
import pandas as pd
from sqlalchemy import create_engine

In [6]:
with open('config.yaml') as f:
    config = yaml.safe_load(f)
    configFuente = config['fuente']
    configBodega = config['bodega']

urlFuente = f"{configFuente['driver']}://{configFuente['user']}:{configFuente['password']}@{configFuente['host']}:{configFuente['port']}/{configFuente['db']}"
urlBodega = f"{configBodega['driver']}://{configBodega['user']}:{configBodega['password']}@{configBodega['host']}:{configBodega['port']}/{configBodega['db']}"

src = create_engine(urlFuente)
etl = create_engine(urlBodega)

In [7]:
fecha = pd.DataFrame({'fecha': pd.date_range(start="2023-01-01", end="2025-12-31", freq="D")})
fecha['key_dim_fecha'] = range(1, len(fecha) + 1)
fecha['dia'] = fecha['fecha'].dt.day
fecha['nombre_dia'] = fecha['fecha'].dt.day_name()
fecha['mes'] = fecha['fecha'].dt.month
fecha['nombre_mes'] = fecha['fecha'].dt.month_name()
fecha['año'] = fecha['fecha'].dt.year

fecha

          fecha  key_dim_fecha  dia nombre_dia  mes nombre_mes   año
0    2023-01-01              1    1     Sunday    1    January  2023
1    2023-01-02              2    2     Monday    1    January  2023
2    2023-01-03              3    3    Tuesday    1    January  2023
3    2023-01-04              4    4  Wednesday    1    January  2023
4    2023-01-05              5    5   Thursday    1    January  2023
...         ...            ...  ...        ...  ...        ...   ...
1091 2025-12-27           1092   27   Saturday   12   December  2025
1092 2025-12-28           1093   28     Sunday   12   December  2025
1093 2025-12-29           1094   29     Monday   12   December  2025
1094 2025-12-30           1095   30    Tuesday   12   December  2025
1095 2025-12-31           1096   31  Wednesday   12   December  2025

[1096 rows x 7 columns]

In [8]:
fecha.to_sql('dim_fecha', etl, index_label='key_dim_fecha', index=False, if_exists='replace')

96